<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <style type="text/css">
        body {
            background-color: darkseagreen;
        }

        .oma1 {
            background-color: orangered;
            width: 300px;
            height: 300px;
            float: left;
        }

        .oma2 {
            background-color: greenyellow;
            width: 300px;
            height: 300px;
            float: left;
        }

        .oma3 {
            background-color: deepskyblue;
            width: 300px;
            height: 300px;
            float: left;
        }

        @media screen and (min-width: 600px) {
            body {
                background-color: blue;
            }
            /*näytön piilottaminen, jos resoluutio on vähintään 600px*/
            .oma2 {
                display: none;
            }
        }
    </style>
</head>
<body>
    <h1>Oma HTML Testisivu, joka on responsiivinen</h1>

    <div class="oma1"><p>Tässä sisältöä laatikossa 1</p></div>
    <div class="oma2"><p>Tässä sisältöä laatikossa 2</p></div>
    <div class="oma3"><p>Tässä sisältöä laatikossa 3</p></div>

</body>
</html>